<div class="spotify-bg">
<form class="form-inline col-lg-6" action="/artist-search", method="GET">
  <div class="form-group mb-2 col-lg-10">
   <input class="form-control" name="artistSearch" type="search" placeholder="Search" aria-label="Search" style="pointer-events: auto;">
  
  </div>
 
  <button type="submit" class="btn btn-primary orange-btn mt-4 mb-2">Search for an Artist</button>
</form>
</div>